<div class="detail">
	<h1>{{title}}</h1>	
	<button (click)="goBack()">Back</button>
	<button (click)="returnTo()">Return</button>
	<button (click)="getUsers()">GetUsers</button>
	<div class="row" id="key">{{key}}</div>
	<div class="row" id="value">{{value}}</div>
	<input [value]="firstName">
	<div>{{firstName}}</div>
	<!--two-way binding-->
	<input [(ngModel)]="lastName">
	<div>{{lastName}}</div>
	<div role="button">asfdas</div>
	<template [ngIf]="MyExpression"><p>...</p></template>
	<p *ngIf="MyExpression">.00.</p>
	<p>CNo:{{cnumber | date}}</p>
	<p>Employer:{{employer?.company}}</p>
</div>